<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rising.mobilepayment.mapper.GetScoreRuleMapper">
	<select id="getSendScoreByOperateType" parameterType="java.lang.String" resultType="java.lang.Integer">
		select SendScore from RS_GetScoreRule where Operate = #{Operate} and sysdate &gt;= StartTime and sysdate &lt;= EndTime
	</select>
</mapper>