<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rising.mobilepayment.mapper.ReturnCodeMapper">
	<select id="findByBusIdAndReturnCode" parameterType="java.util.HashMap" resultType="com.rising.mobilepayment.bean.ReturnCode">
		select * from
		RS_ReturnCode returnCode where returnCode.BusId = #{BusId} and returnCode.ReturnCode = #{ReturnCode} and returnCode.Show is not null
	</select>
</mapper>