.icon-pushmail{background:url(../images/menu/pushmail.gif) no-repeat;}
.icon-system{background:url(../images/menu/system.gif) no-repeat;}
.icon-config{background:url(../images/menu/config.gif) no-repeat;}
.icon-home{background:url(../images/menu/home.gif) no-repeat;}
.icon-openaccount{background:url(../images/menu/openaccount.gif) no-repeat;}
.icon-mailserver{background:url(../images/menu/mailserver.gif) no-repeat;}
.icon-user{background:url(../images/menu/user.gif) no-repeat;}
.icon-node{background:url(../images/menu/node.gif) no-repeat;}
.icon-parameter{background:url(../images/menu/parameter.gif) no-repeat;}
.icon-log{background:url(../images/menu/log.gif) no-repeat;}
.icon-applog{background:url(../images/menu/applog.gif) no-repeat;}
.icon-logstatistics{background:url(../images/menu/log_statistics.gif) no-repeat;}
.icon-alarm{background:url(../images/menu/alarm.gif) no-repeat;}
.icon-terminal{background:url(../images/menu/terminal.gif) no-repeat;}
.icon-terminal-user{background:url(../images/menu/terminal_user.gif) no-repeat;}
.icon-wap-user{background:url(../images/menu/wap_user.gif) no-repeat;}
.icon-terminal-style{background:url(../images/menu/terminal_style.gif) no-repeat;}
.icon-terminal-register{background:url(../images/menu/terminal_register.gif) no-repeat;}
.icon-apply{background:url(../images/menu/apply.gif) no-repeat;}
.icon-apply-publish{background:url(../images/menu/apply_publish.gif) no-repeat;}
.icon-apply-proxy{background:url(../images/menu/apply_proxy.gif) no-repeat;}
.icon-apply-domain{background:url(../images/menu/apply_domain.gif) no-repeat;}
.icon-statistics{background:url(../images/menu/statistics.gif) no-repeat;}
.icon-trend-statistics{background:url(../images/menu/trend_statistics.gif) no-repeat;}
.icon-platform-statistics{background:url(../images/menu/platform_statistics.gif) no-repeat;}
.icon-user-statistics{background:url(../images/menu/user_statistics.gif) no-repeat;}
.icon-apply-statistics{background:url(../images/menu/apply_statistics.gif) no-repeat;}
.icon-client-statistics{background:url(../images/menu/client_statistics.gif) no-repeat;}
.icon-onlineuser{background:url(../images/menu/onlineuser.gif) no-repeat;}
.icon-uselistof{background:url(../images/menu/uselistof.gif) no-repeat;}
.icon-license{background:url(../images/menu/license.gif) no-repeat;}
.icon-databackup{background:url(../images/menu/databackup.gif) no-repeat;}
.icon-mailsmtpconfig{background:url(../images/menu/mailsmtpconfig.gif) no-repeat;}
.icon-systemparameter{background:url(../images/menu/systemparameter.gif) no-repeat;}
.icon-ftpconfig{background:url(../images/menu/ftpconfig.gif) no-repeat;}
.icon-smsconfig{background:url(../images/menu/smsconfig.gif) no-repeat;}
.icon-systemconfig{background:url(../images/menu/systemconfig.gif) no-repeat;}
.icon-client{background:url(../images/menu/client.gif) no-repeat;}
.icon-setting{background:url(../images/menu/setting.gif) no-repeat;}
.icon-bomb{background:url(../images/menu/bomb.gif) no-repeat;}
.icon-controldemo{background:url(../images/menu/controldemo.gif) no-repeat;}
.icon-validatedemo{background:url(../images/menu/validatedemo.gif) no-repeat;}
.icon-databackup-filemanage{background:url(../images/menu/databackup_filemanage.gif) no-repeat;}
.icon-databackup-strategy{background:url(../images/menu/databackup_strategy.gif) no-repeat;}
.icon-license-overduenotice{background:url(../images/menu/license_overduenotice.gif) no-repeat;}
.icon-pushmanage{background:url(../images/menu/pushmanage.gif) no-repeat;}
.icon-device{background:url(../images/menu/device.gif) no-repeat;}
.icon-guae{background:url(../images/menu/guae.gif) no-repeat;}
.icon-threshold{background:url(../images/menu/threshold.gif) no-repeat;}